<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
		<div class="pull-right">
			<div class="btn-group" sn-dropdown>
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
					Actions
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#">Action</a>
					</li>
					<li><a href="#">Another action</a>
					</li>
					<li><a href="#">Something else here</a>
					</li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-4">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Time</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>3326</td>
								<td>10/21/2013</td>
								<td>3:29 PM</td>
								<td>$321.33</td>
							</tr>
							<tr>
								<td>3325</td>
								<td>10/21/2013</td>
								<td>3:20 PM</td>
								<td>$234.34</td>
							</tr>
							<tr>
								<td>3324</td>
								<td>10/21/2013</td>
								<td>3:03 PM</td>
								<td>$724.17</td>
							</tr>
							<tr>
								<td>3323</td>
								<td>10/21/2013</td>
								<td>3:00 PM</td>
								<td>$23.71</td>
							</tr>
							<tr>
								<td>3322</td>
								<td>10/21/2013</td>
								<td>2:49 PM</td>
								<td>$8345.23</td>
							</tr>
							<tr>
								<td>3321</td>
								<td>10/21/2013</td>
								<td>2:23 PM</td>
								<td>$245.12</td>
							</tr>
							<tr>
								<td>3320</td>
								<td>10/21/2013</td>
								<td>2:15 PM</td>
								<td>$5663.54</td>
							</tr>
							<tr>
								<td>3319</td>
								<td>10/21/2013</td>
								<td>2:13 PM</td>
								<td>$943.45</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.col-lg-4 (nested) -->
			<div class="col-lg-8">
				<div id="morris-bar-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
					<svg height="477" version="1.1" width="457" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					style="overflow: hidden; position: relative; left: -0.328125px;">
						<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
						<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
						<text x="32.4375" y="445" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
						</text>
						<path fill="none" stroke="#aaaaaa" d="M44.9375,445H432" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
						<text x="32.4375" y="340" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan>
						</text>
						<path fill="none" stroke="#aaaaaa" d="M44.9375,340H432" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
						<text x="32.4375" y="235" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
						</text>
						<path fill="none" stroke="#aaaaaa" d="M44.9375,235H432" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
						<text x="32.4375" y="130" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
						</text>
						<path fill="none" stroke="#aaaaaa" d="M44.9375,130H432" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
						<text x="32.4375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
						</text>
						<path fill="none" stroke="#aaaaaa" d="M44.9375,25H432" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
						<text x="404.35267857142856" y="457.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal" transform="matrix(1,0,0,1,0,6)">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
						</text>
						<text x="293.7633928571429" y="457.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal" transform="matrix(1,0,0,1,0,6)">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
						</text>
						<text x="183.17410714285714" y="457.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal" transform="matrix(1,0,0,1,0,6)">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan>
						</text>
						<text x="72.58482142857143" y="457.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
						font-weight="normal" transform="matrix(1,0,0,1,0,6)">
							<tspan dy="4.25" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan>
						</text>
						<rect x="51.84933035714286" y="25" width="19.23549107142857" height="420" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="74.08482142857143" y="67" width="19.23549107142857" height="378" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="107.14397321428572" y="130" width="19.23549107142857" height="315" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="129.37946428571428" y="172" width="19.23549107142857" height="273" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="162.43861607142858" y="235" width="19.23549107142857" height="210" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="184.67410714285717" y="277" width="19.23549107142857" height="168" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="217.73325892857142" y="130" width="19.23549107142857" height="315" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="239.96875" y="172" width="19.23549107142857" height="273" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="273.0279017857143" y="235" width="19.23549107142857" height="210" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="295.26339285714283" y="277" width="19.23549107142857" height="168" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="328.3225446428571" y="130" width="19.23549107142857" height="315" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="350.55803571428567" y="172" width="19.23549107142857" height="273" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="383.61718749999994" y="25" width="19.23549107142857" height="420" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
						<rect x="405.8526785714285" y="67" width="19.23549107142857" height="378" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
						style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
					</svg>
					<div class="morris-hover morris-default-style" style="left: 87.8795px; top: 203px; display: none;">
						<div class="morris-hover-row-label">2007</div>
						<div class="morris-hover-point" style="color: #0b62a4">
							Series A: 75
						</div>
						<div class="morris-hover-point" style="color: #7a92a3">
							Series B: 65
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-lg-8 (nested) -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->