<div class="chat-panel panel panel-default" ng-init="chatCtrl.init()">
	<div class="panel-heading">
		<i class="fa fa-comments fa-fw"></i> Chat
		<div class="btn-group pull-right" sn-dropdown>
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
				<li>
					<a href="#"><i class="fa fa-refresh fa-fw"></i> Refresh</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-check-circle fa-fw"></i> Available</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-times fa-fw"></i> Busy</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-clock-o fa-fw"></i> Away</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<ul class="chat">
			<li class="clearfix" ng-repeat="message in chatCtrl.chatList" ng-class-even="'left'" ng-class-odd="'right'">
				<span class="chat-img" ng-class-even="'pull-left'" ng-class-odd="'pull-right'">
					<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
				</span>
				<div class="chat-body clearfix">
					<div class="header">
						<strong class="primary-font">{{message.from}}</strong>
						<small class="pull-right text-muted">
							<i class="fa fa-clock-o fa-fw"></i> {{message.date | fromNow}}
						</small>
					</div>
					<p>{{message.content}}</p>
				</div>
			</li>
		</ul>
	</div>
	<!-- /.panel-body -->
	<div class="panel-footer">
		<div class="input-group">
			<input type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="chatCtrl.newMessage">
			<span class="input-group-btn">
				<button class="btn btn-warning btn-sm" ng-click="chatCtrl.sendMessage()">Send</button>
			</span>
		</div>
	</div>
	<!-- /.panel-footer -->
</div>