<div class="panel panel-default" ng-init="timelineCtrl.init()">
	<div class="panel-heading">
		<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<ul class="timeline">
			<li ng-repeat="activity in timelineCtrl.timeline" ng-class-odd="'timeline-inverted'">
				<div class="timeline-badge primary"><i class="fa fa-user"></i>
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">{{activity.title}}</h4>
						<p><small class="text-muted"><i class="fa fa-clock-o"></i> {{activity.date | fromNow}} via Twitter</small>
						</p>
					</div>
					<div class="timeline-body">
						<p>{{activity.content}}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- /.panel-body -->
</div>