<div ng-init="employeeListCtrl.init()">
	<h1 class="page-header">Employees <small>All Employees</small></h1>

	<div class="row">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<button ng-click="employeeListCtrl.newEmployee()" class="btn btn-primary">New</button>
			</div>
			<div class="form-group">
				<button ng-click="employeeListCtrl.deleteEmployee()" ng-disabled="!employeeListCtrl.selectedEmployee" class="btn btn-danger">Delete</button>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
				<button type="submit" class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</form>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employeeListCtrl.employeeList"
			ng-class="{'active':employee==employeeListCtrl.selectedEmployee}"
			ng-click="employeeListCtrl.selectedEmployee=employee">
				<td>{{employee.name}}</td>
				<td>{{employee.age}}</td>
				<td>{{employee.gender | gender}}</td>
			</tr>
		</tbody>
	</table>

	<!--sn-datagrid type="'sortable'" grid-cols="employeeListCtrl.employeeCols" grid-data="employeeListCtrl.employeeList"></sn-datagrid-->

	<sn-pager count="employeeListCtrl.total" current-page="employeeListCtrl.currentPage"></sn-pager>
</div>