<li class="dropdown" sn-dropdown ng-init="alertListCtrl.init()">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
	</a>
	<!-- /.dropdown -->
	<ul class="dropdown-menu dropdown-alerts">
		<li ng-repeat-start="alert in alertListCtrl.alertList">
			<a href="#">
				<div>
					<i class="fa fa-fw" ng-class="alertListCtrl.alertClass(alert.type)"></i> {{alert.content}}
					<span class="pull-right text-muted small">{{alert.date | fromNow}}</span>
				</div>
			</a>
		</li>
		<li ng-repeat-end class="divider"></li>
		<li>
			<a class="text-center" href="#">
				<strong>See All Alerts</strong>
				<i class="fa fa-angle-right"></i>
			</a>
		</li>
	</ul>
	<!-- /.dropdown-alerts -->
</li>