<div class="navbar-default sidebar" role="navigation" ng-init="sideNavCtrl.init()">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav in">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</li>

			<li ng-repeat="menu in sideNavCtrl.menuTree">
				<a ui-sref="{{menu.state}}" ng-click="sideNavCtrl.menuClick(menu, $event)">
					<i class="fa fa-fw" ng-class="menu.icon"></i>{{menu.name}}
					<i ng-if="menu.children" class="fa arrow"></i>
				</a>
				<ul ng-if="menu.children" class="nav nav-second-level" ng-class="{'collapse':!menu.$expanded}">
					<li ng-repeat="child in menu.children">
						<a href="#" ng-click="sideNavCtrl.menuClick(child, $event)">
							{{child.name}}
							<i ng-if="child.children" class="fa arrow"></i>
						</a>
						<ul ng-if="child.children" class="nav nav-third-level"
							ng-class="{'collapse':!child.$expanded}">
							<li ng-repeat="grandson in child.children">
								<a href="#">{{grandson.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>