<li class="dropdown" sn-dropdown ng-init="taskListCtrl.init()">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
	</a>
	<!-- /.dropdown -->
	<ul class="dropdown-menu dropdown-tasks">
		<li ng-repeat-start="task in taskListCtrl.taskList">
			<a href="#">
				<div>
					<p>
						<strong>{{task.name}}</strong>
						<span class="pull-right text-muted">{{task.percentage}}% Complete</span>
					</p>
					<div class="progress progress-striped active">
						<div class="progress-bar" ng-class="taskListCtrl.taskClass($index)" role="progressbar" ng-aria-valuenow="{{task.percentage}}" aria-valuemin="0" aria-valuemax="100"
						ng-style="{width: task.percentage + '%'}">
							<span class="sr-only">{{task.percentage}}% Complete (success)</span>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li ng-repeat-end class="divider"></li>
		<li>
			<a class="text-center" href="#">
				<strong>See All Tasks</strong>
				<i class="fa fa-angle-right"></i>
			</a>
		</li>
	</ul>
	<!-- /.dropdown-tasks -->
</li>