<div class="panel panel-default" ng-init="entityPropertyListCtrl.init()">
	<div class="panel-heading">
		<span>Entity Properties</span>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Required</th>
					<th>Is Primary Key</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="property in entityPropertyListCtrl.propertyList"
				ng-class="{'active':property==entityPropertyListCtrl.selectedProperty}"
				ng-click="entityPropertyListCtrl.selectedProperty=property">
					<td>{{property.name}}</td>
					<td>{{property.type}}</td>
					<td>{{property.required}}</td>
					<td>{{property.isPrimaryKey}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<form class="navbar-form navbar-left" role="operation">
				<div class="form-group">
					<button ng-click="entityPropertyListCtrl.newProperty()"
						class="btn btn-sm btn-primary">New</button>
				</div>
				<div class="form-group">
					<button ng-click="entityPropertyListCtrl.deleteProperty()"
						ng-disabled="!entityPropertyListCtrl.selectedProperty"
						class="btn btn-sm btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>