<div class="row" ng-init="entityManageCtrl.init()">
	<div class="col-md-12">
		<h1 class="page-header">Entity Management <small>Dynamic Entity Configuration</small></h1>
	</div>

	<div class="col-md-3">
		<sn-entity-list selected-entity="entityManageCtrl.selectedEntity"></sn-entity-list>
	</div>
	<div class="col-md-9">
		<sn-entity-property-list selected-entity="entityManageCtrl.selectedEntity"></sn-entity-property-list>
		<sn-entity-rule-list selected-entity="entityManageCtrl.selectedEntity"></sn-entity-rule-list>
	</div>
</div>